body {
  margin: 0;
  background-color: #3a444d;;
}

.navbar-main, .navbar-left, .menu-dropdown ul, .tags, .tags div, .story-title, .back-to-stories {
  display: flex;
}

.footer-main {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 10em;
}

.navbar-main, .navbar-left, .menu-dropdown ul, .tags, .tags div, .footer-main, .animal-details {
  display: flex;
}

.animal-details {
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #e9e3cb;
}

.animal-details Button {
  background-color: #E2A856;
  border-radius: 0.5em;
  padding: 1em 5em 1em 5em;
  margin-top: 1em;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.audio-off-logo {
  float: right;
  margin-left: 100em;
  width: 2em;
}

.animal-details .turtle-pic {
  width: 25em;
  height: 14em;
}

.navbar-main, .navbar-left, .menu-dropdown ul, .tag-block, .footer-main {
  align-items: center;
}

.navbar-main, .footer-main {
  background-color: #e9e3cb;
  color: #3a444d;
  justify-content: space-between;
} 

.footer-logo img {
  height: 2em;
  width: 7em;
}

.footer-logo, .footer-desc, .footer-copyright {
  display: flex;
  flex-direction: row;
  margin: 3em 1em 3em 3em;
}

.navbar-right, .hidden {
  display: none;
}

.navbar-title, .stories-title h1, .story-heading, .back-to-states p, .stories-title p, .story-name, .species-name, .back-to-stories p, .story-paragraph, .story-question {
  font-family: 'Cinzel', serif;
}

.back-to-states p, .stories-title p, .story-name, .species-name, .animal-details {
  font-family: 'Lato', sans-serif;
}

.hamburger-menu {
  height: 40px;
  width: 40px;
  margin-right: 25px;
}

.eyes-logo {
  height: 30px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.page-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown {
  position: absolute; 
  top: 0;
  right: 0;
  background-color: #e9e3cb;
  height: 140px;
  width: 100px;
}

.menu-dropdown ul {
  flex-direction: column;
}

.menu-dropdown li {
  margin-top: 30px;
}

.menu-dropdown li:hover {
  border-bottom: .2rem solid #3a444d;
}

.left-arrow {
  height: 30px;
  width: 30px;
}

.back-to-states, .back-to-stories {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}

.back-to-states p, .back-to-stories p {
  margin-left: 10px;
  color: #e9e3cb;
}

.status {
  display: flex;
  flex-direction: row;
}

.status p {
  margin-right: 1em;
}

.stories-title {
  text-align: center;
}

.stories-title h1, .stories-title p, .story-title p {
  color: #e9e3cb;
}

.stories-divider {
  background-color: #e2a856;
  height: 10px;
}

.species-card, .turtle-pic {
  border-radius: 15px;
}

.species-card {
  height: 200px;
  width: 190px;
  background-color: #e9e3cb;
  margin: auto;
  margin-top: 20px;
}

.turtle-pic {
  height: 90px;
  width: 165px;
  margin-top: 10px;
}

.turtle-border {
  text-align: center;
}

.story-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.species-name {
  margin-top: 0;
  font-size: 14px;
}

.story-name, .species-name {
  text-align: left;
  margin-left: 15px;
  
}

.tag-block {
  margin-left: 10px;
}

.tag-name {
  font-size: 12px;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
}

.story-name, .species-name, .tag-name {
  color: #74624e
}

.story-title {
  height: 50px;
  width: 400px;
  background-color: #74624e;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
}

.back-to-stories, .back-to-stories p {
  margin-left: 10px;
}

.audio-logo {
  margin-right: 10px;
}

.jelly-gif {
  display: none;
}

.story-paragraph, .story-question {
  color: #72604C
}

@media (min-width: 768px) {
  .navbar-title {
    font-size: 30px;
    margin-left: 10px;
  }

  .eyes-logo {
    height: 52px;
    width: 199px;
  }

  .menu-dropdown {
    height: 140px;
    width: 180px;
  }

  .menu-dropdown li {
    font-size: 20px;
  }

  .story-title {
    width: 700px;
  }

  .story-heading {
    font-size: 24px;
  }
}

@media (min-width: 992px) {

  .navbar-right {
    display: block;
  }

  .navbar-right li:hover {
    border-bottom: .2rem solid #3a444d; 
  }

  .page-links li {
    display: inline;
    font-size: 24px;
    margin-right: 30px;
  }

  .left-arrow {
    height: 50px;
    width: 50px;
  }

  .back-to-states p {
    font-size: 18px;
  }

  .stories-title h1 {
    font-size: 48px;
  }

  .stories-title p {
    font-size: 24px;
  }

  .stories-divider {
    height: 20px;
  }

  .species-card {
    height: 358px;
    width: 350px;
  }

  .turtle-pic {
    height: 190px;
    width: 300px;
  }

  .story-name, .species-name {
    margin-left: 25px;
  }

  .story-name {
    font-size: 20px;
  }

  .species-name {
    font-size: 18px;
  }

  .tags {
    margin-top: 2.5em;
    margin-left: 15px;
  }

  .tag-name {
    font-size: 15px;
  }

  .story-title {
    width: calc(100% - 92px);
  }

  .jelly-gif {
    display: block;
    margin-left: 46px;
    height: 500px;
    width: calc(50% - 80px);
    float: left;
  }

  .story-content {
    display: inline-block;
    height: 500px;
    width: calc(50% - 12px);
    background-color: #e9e3cb;
  }

  .story-paragraph {
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    color: #72604C
  }

  .story-question {
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    font-weight: 700;
  }
}
