/* General CSS */

html {
  /* position: relative;  */
  min-height: 100%;
}

body {
  margin: 0;
  padding:0;
  background-color: #3a444d;
}

/* html {
  position: relative;
  min-height: 100%;
} */

.navbar-main, .navbar-left, .menu-dropdown ul, .tags, .tags div, .story-title, .back-to-stories, .back-to-stories div, .try-again, .ending-container, .choice-container, .navbar-main, .navbar-left, .menu-dropdown ul, .tags, .tags div, .footer-main, .animal-details, .mission-statement, .profile, .about-links, .profile-row, .change-rows, .org-button, .nonprofit-btns, .article-carousel, .stories-row {
  display: flex;
}

.back-to-states div, .stories-title p, .story-name, .species-name, .animal-details, .choice-btn, .story-paragraph, .story-paragraph2, .explanation, .ending-btn, .back-to-stories, .about-statement, .profile-content, .overlay-text, .how-to-help p, .change-btn, .map-header, .change-title p, .change-card, .nonprofit-title p, .article-card a   {
  font-family: 'Lato', sans-serif;
}

.hamburger-menu {
  height: 40px;
  width: 40px;
  margin-right: 25px;
}

.eyes-logo {
  height: 30px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.audio-logo {
  margin-right: 10px;
}

/* Footer CSS */
.footer-main {
  left: 0;
  bottom: 0;
  /* position: absolute; */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #e9e3cb;
  color: #3a444d;
  justify-content: space-between;
  margin-top: 5rem;
}

.footer-logo img {
  height: 2em;
  width: 7em;
  margin-right: 1.5em;
}

.footer-logo h3 {
  font-family: 'Cinzel', serif;
}

.footer-logo, .footer-desc, .footer-copyright {
  margin: 2em 2em 0em 2em;
}

.footer-main .footer-content {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
}

.footer-copyright {
  font-family: 'Lato', sans-serif;
}

.footer-main .footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 28em;
}

.footer-main .footer-desc {
  text-align: start;
}

/* Home page CSS */
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.map-title {
  font-family: 'Cinzel', serif;
  margin-top: 1em;
  margin-bottom: -0.1em;
}

.map-img {
  height: 40em;
}

.map-header {
  font-size: 20px;
}

.map-title, .map-header {
  color: #e9e3cb;
}

.divider {
  background-color: #E2A856;
  width: 100%;
  height: 3em;
}

.slide-btn {
  text-decoration: none;
  color: #e9e3cb;
  font-size: 18px;
  background-color: #E2A856;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 10px;
}

.slide-cap {
  color: #E9E3CB;
}

.slide-title {
  font-family: 'Cinzel', serif;
}

.slide-2-cap {
  margin: 0em 0em 30em 56.4em;
}

.slide-3-cap {
  margin: 0em 50em 30em 0em;
}


/* About page CSS */
.leopard-container {
  position: relative;
  color: #e9e3cb;
}

.leopard-img {
  display: block;
  margin: auto;
  height: 400px;
  width: calc(100% - 100px);
  opacity: 25%;
}

.about-header {
  margin-left: 5rem;
  margin-right: 5rem;
  white-space: nowrap;
}

.about-statement {
  text-align: left;
  margin-right: 5rem;
}

.mission-statement {
  position: absolute;
  top: 70px;
  align-items: center;
}

.how-to-help {
  text-align: center;
  background-color: #74624e;
  color: #e9e3cb;
  height: 220px;
}

.how-to-help h1 {
  margin-top: 0;
  padding-top: 1rem;
}

.how-to-help p {
  font-size: 18px;
}

.change-btn {
  text-decoration: none;
  color: #e9e3cb;
  font-size: 18px;
  background-color: #E2A856;
  padding: 1rem;
  border-radius: 10px;
}

.change-container {
  margin-top: 2.7rem;
}

.meet-team-header {
  text-align: center;
  color: #e9e3cb;
  margin-top: 3rem;
}

.profile {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.about-links {
  justify-content: center;
}

.about-links a:nth-child(1) {
  margin-right: 2rem;
}

.profile-name, .profile-role {
  font-size: 20px;
}

.profile-major {
  font-size: 14px;
  margin-top: 0;
}

.profile-name {
  margin-bottom: 0;
}

.profile-content {
  color: #e9e3cb;
}

.profile-pic-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #e9e3cb;
  overflow: auto;
}

.overlay-text {
  color: #3a444d;
  vertical-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile-pic-container:hover .overlay {
  opacity: 1;
}

.profile-row {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* Animal Detail page CSS */
.animal-details {
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #e9e3cb;
}

.details-btn {
  background-color: #E2A856;
  border-radius: 0.5em;
  padding: 1em 5em 1em 5em;
  margin-top: 1em;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #3a444d;
}

.animal-details .turtle-pic {
  width: 25em;
  height: 14em;
}

.animal-details .details-title h1, .navbar-title, .stories-title h1, .story-heading, .stories-title p, .back-to-stories p, .about-header, .how-to-help h1, .meet-team-header, .nav-links, .change-title h1, .nonprofit-title h1 {
  font-family: 'Cinzel', serif;
}

.status {
  display: flex;
  flex-direction: row;
}

.status .status-candidate {
  background-color: #E2A856;
  padding: 0.5em;
}

.status .status-threatened {
  background-color: #CA5E13;
  padding: 0.5em;
}

.status .status-endangered {
  background-color: #C10000;
  padding: 0.5em;
}

.details-desc, .details-status {
  font-size: 18px;
}

.details-desc {
  margin-top: 1rem;
}

.down-arrow-turtle {
  margin-left: 10rem;
}

.down-arrow-caribou {
  margin-left: 2rem;
}

.down-arrow-rabbit {
  margin-left: 17rem;
}

/* Navbar CSS */
.navbar-main, .navbar-left, .menu-dropdown ul, .tag-block, .footer-main, .story-title, .back-to-stories {
  align-items: center;
}

.navbar-main {
  background-color: #e9e3cb;
  color: #3a444d;
  justify-content: space-between;
  height: 5.5em;
} 

.navbar-right, .hidden {
  display: none;
}

.page-links {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nav-links, .navbar-left {
  text-decoration: none;
  color: #3a444d;
}

.menu-dropdown {
  position: absolute; 
  top: 0;
  right: 0;
  background-color: #e9e3cb;
  height: 140px;
  width: 100px;
}

.menu-dropdown ul {
  flex-direction: column;
}

.menu-dropdown li {
  margin-top: 30px;
}

.menu-dropdown li:hover {
  border-bottom: .2rem solid #3a444d;
}

.left-arrow {
  height: 30px;
  width: 30px;
}

.back-to-states {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}

.back-to-states div, .back-to-stories p {
  margin-left: 10px;
  color: #e9e3cb;
}

.stories-title {
  text-align: center;
}

.stories-title h1, .stories-title p, .story-title p {
  color: #e9e3cb;
}

.stories-divider {
  background-color: #e2a856;
  height: 10px;
}

.stories-row {
  justify-content: space-evenly;
}

.species-card, .turtle-pic, .bunny-pic {
  border-radius: 15px;
}

.species-card {
  height: 200px;
  width: 190px;
  background-color: #e9e3cb;
}

.turtle-pic {
  height: 90px;
  width: 165px;
  margin-top: 10px;
}

.turtle-border {
  text-align: center;
}

.story-name {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: bold;
}

.species-name {
  margin-top: 0;
  font-size: 14px;
}

.story-name, .species-name {
  text-align: left;
  margin-left: 15px;
  
}

.tag-block {
  margin-left: 10px;
}

.tag-name {
  font-size: 12px;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
}

.story-name, .species-name, .tag-name {
  color: #74624e
}

.story-title {
  height: 50px;
  width: 400px;
  background-color: #74624e;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
}

.back-to-stories {
  margin-left: 10px;
  text-decoration: none;
  color: #e9e3cb;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
}

.back-to-stories:hover {
  cursor: pointer;
}

.back-to-stories svg {
  margin-right: 10px;
}

.gif {
  display: none;
}

.story-paragraph, .story-question, .story-paragraph2 {
  color: #72604C
}

.death {
  color: #C10000;
}

.explanation {
  color: #3a444d;
  margin-left: 30px;
  font-size: 20px;
}

.separation {
  margin-top: 80px;
}

.learn-more {
  color: #E2A856;
  font-size: 20px;
  margin-left: 30px;
  display: inline-block;
  margin-top: 30px;
}

.try-again {
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.ending-container {
  margin-top: 60px;
  margin-left: 30px;
}

.ending-btn {
  background-color: #E2A856;
  color: #3a444d;
  height: 40px;
  width: calc(50% - 30px);
  border-radius: 10px;
  text-decoration: none;
}

.highlight {
  background-color: #E2A856;
  color:#3a444d;
  cursor: pointer;
}

.survive {
  color: #1f5dfe;
}

.close {
  cursor: pointer;
  float: right;
}

.modal {
  display: block;
}

.modal-content {
  background-color: #74624e;
  color: #e9e3cb;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  height: calc(100% - 38%);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 24px;
}

.fishing-pot, .lichen-def {
  width: 100%;
}

.caribou-btn {
  text-align: center;
}

/* Make a Change Page */
.change-header {
  position: relative;
}

.red-panda-img {
  display: block;
  width: 100%;
}

.change-title {
  position: absolute;
  top: 30%;
  text-align: center;
  color: #e9e3cb;
}

.change-title p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.change-divider {
  background-color: #e2a856;
  height: 20px;
  width: 100%;
}

.change-card {
  height: 360px;
  width: 400px;
  background-color: #e9e3cb;
  border: 2px solid #E2A856;
  color: #74624e;
  border-radius: 10px;
}

.change-card a {
  color: #74624e;
}

.change-card-content {
  margin-left: 1rem;
}

.card-tip {
  font-size: 24px;
}

.sources {
  margin-top: 0;
}

.article-container {
  margin-top: 2rem;
}

.change-rows {
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.divider2 {
  margin-top: 2rem;
}

.nonprofit-title {
  text-align: center;
  color: #e9e3cb;
  margin-top: 3rem;
}

.nonprofit-card {
  height: 400px;
}

.org-button {
  height: 45px;
  align-items: center;
  background-color: #E2A856;
  color: #e9e3cb;
  border-style: none;
  border-radius: 5px;
}

.org-button:hover {
  cursor: pointer;
}

.org-button div {
  margin-left: 2px;
  font-family: 'Roboto', 'sans-serif';
}

.nonprofit-btns {
  justify-content: space-around;
  margin-top: 7rem;
}

.org-quote {
  margin-right: 1rem;
}

.article-carousel {
  margin: auto;
  background-color: #e9e3cb;
  height: 587px;
  width: calc(100% - 150px);
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.article-card {
  height: 450px;
  width: 300px;
}

.article-card a {
  text-decoration: none;
  color:#e9e3cb;
}

.article-img {
  display: block;
}

.article-info {
  background-color: #74624e;
  height: 100px;
  width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.article-title {
  margin-top: 0;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0;
}

.article-extra {
  text-align: right;
  margin-right: 1rem;
}

.article-source {
  margin-bottom: 0;
}

.article-date {
  margin-top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
  .navbar-title {
    font-size: 30px;
    margin-left: 10px;
  }

  .eyes-logo {
    height: 52px;
    width: 199px;
  }

  .menu-dropdown {
    height: 140px;
    width: 180px;
  }

  .menu-dropdown li {
    font-size: 20px;
  }

  .story-title {
    width: 700px;
  }

  .story-heading {
    font-size: 24px;
    color: #E9E3CB;
  }
}

@media (min-width: 992px) {

  .navbar-right {
    display: block;
  }

  .navbar-right li:hover {
    border-bottom: .2rem solid #3a444d; 
  }

  .page-links li {
    display: inline;
    font-size: 24px;
    margin-right: 30px;
  }

  .left-arrow {
    height: 50px;
    width: 50px;
  }

  .back-to-states div {
    font-size: 18px;
  }

  .stories-title h1 {
    font-size: 48px;
  }

  .stories-title p {
    font-size: 24px;
  }

  .stories-divider {
    height: 20px;
  }

  .species-card {
    height: 358px;
    width: 350px;
  }

  .turtle-pic {
    height: 190px;
    width: 300px;
  }

  .story-name, .species-name {
    margin-left: 25px;
  }

  .story-name {
    font-size: 20px;
  }

  .species-name {
    font-size: 18px;
  }

  .tags {
    margin-top: 2.5em;
    margin-left: 15px;
  }

  .tag-name {
    font-size: 15px;
  }

  .story-title {
    width: calc(100% - 92px);
  }

  .gif {
    display: block;
    margin-left: 46px;
    width: calc(50% - 80px);
    float: left;
  }

  .jellyfish {
    height: 550px;
  }

  .ocean {
    height: 650px;
  }

  .ending {
    height: 650px;
  }

  .story-content {
    display: inline-block;
    width: calc(50% - 12px);
    background-color: #e9e3cb;
  }

  .story-paragraph, .story-paragraph2 {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    color: #72604C
  }

  .story-question {
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    font-weight: 700;
  }

  .choice-container {
    flex-direction: column;
    align-items: center;
  }

  .choice-btn {
    background-color: #E2A856;
    height: 52px;
    width: 300px;
    border-radius: 15px;
    margin-top: 30px;
    color: #72604C;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .choice-btn:hover {
    cursor: pointer;
  }

  .story-content .story-paragraph2:nth-child(2) {
    margin-top: 0;
  }
}
